.App {
  background: rgb(140,14,49);
  background: linear-gradient(325deg, rgba(140,14,49,1) 0%, rgba(189,190,61,1) 60%, rgba(0,212,255,1) 100%);
  
  background-size:100% 100%;
  text-align: center;
  width:100%;
}
.detailedWeatherView{
  position:relative;
  border:1px solid gold;
  width:fit-content;
  margin:0 auto;
}
.detailedWeatherTooltip{
  font-size:40px;
  position:absolute;
  top:0;
  left:15%;
  border:1px solid gold;
}
.bar-rect{
  border:1px solid white;
  fill:gray;
  transition:.2s ease fill;
}

.bar-rect:hover{
  fill:lightgray;
}

.appHead{
  background:coral;
  width:100%;
}
.weatherCards{
  display:grid;
  flex-direction:horizontal;
  row-gap:50px;
  column-gap:50px;
  grid-template-columns: repeat(3,1fr);
  width:50%;
  margin:0 auto;

}

.addWeatherCard{
  border-radius:25px;
  background:rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
}


.weatherCard{
  background:rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  border-radius:25px;
  padding:15px;
}

@media(max-width:600px)
{
  .weatherCards{
    box-sizing:border-box;
    grid-template-columns: repeat(1,1fr);
    column-gap:20px;
    width:100%;
  }
  .weatherCard{
    margin:40px;
  }
}
