@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
html{
  background:url("/src/background.jpg") no-repeat center center fixed;
  font-family: 'Lora', serif;
  background-size:cover;
  background-attachment: fixed;
  width:100%;
}
.App {
  text-align: center;
}
.detailedWeatherView{
  position:relative;
  width:fit-content;
  margin:0 auto;
}

.detailedWeatherView h2:nth-child(2){
  padding-top:50px;
}

.detailedWeatherTooltip{
  min-width:200px;
  font-size:16px;
  position:absolute;
  top:15%;
  left:45%;
  border:1px solid rgba(255,255,255,0.3);
}
.bar-rect{
  border:1px solid white;
  fill:gray;
  transition:.2s ease fill;
}

.bar-rect:hover{
  fill:lightgray;
}

.appHead{
  background:white;
  text-align:left;
  padding-left:15px;
  margin:0;
}
.appHead h1{
  margin:0;
  padding:10px;

}
.weatherCards{
  display:grid;
  column-gap:50px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:repeat(3,0.4fr);
  width:50%;
  margin:0 auto;
  height:100vh;

}

.addWeatherCard{
  border-radius:25px;
  background:rgba(255,255,255,0.35);
  backdrop-filter: blur(15px);
  box-shadow:0px 5px 5px rgb(70,70,70);
  display:flex;
  flex-direction:column;
  justify-items: center;
  align-items: center;
  padding:25px;
  height:fit-content;
}
.addWeatherCard div{
  width:fit-content;
}
.addWeatherCard input{
  border:none;
  padding:7px;
  outline:none; 
  transition:.2s ease all;
  position:relative;
  border-radius:0px 15px 15px 0px;
  
}
.addWeatherCard input:focus{
  box-shadow:3px 5px 5px rgba(100,100,100,1);
}
.addWeatherCard button{
  border:none;
  padding:7px;
  padding-left:10px;
  padding-right:10px;
  background:rgba(255,255,255,0.3);
  transition:.2s ease all;
  position:relative;
  border-radius:15px 0px 0px 15px;
}
.addWeatherCard button:hover{
  box-shadow:0px 5px 10px rgba(100,100,100,0.75);
  background:rgba(255,255,255,0.7);
}
.addWeatherCard ul{
  list-style-type: none;
  margin:0;
  padding:0;
  width:100%;
}
.addWeatherCard ul li{
  margin:0;
  box-sizing: border-box;
  padding:10px 5px 10px 5px;
  margin-top:7px;
  width:100%;
  background:  rgba(255,255,255,0.25);
  box-shadow:0px 5px 10px rgba(100,100,100,0.75);
  backdrop-filter:blur(5rem);
}
.addWeatherCard ul li:hover{
  background:  rgba(255,255,255,0.55);
}
.weatherCard{
  background:linear-gradient(to bottom right,rgba(255,255,255,0.55),rgba(150,150,150,0.35)) ;
  backdrop-filter: blur(15px);
  box-shadow:0px 5px 5px rgb(70,70,70);
  border-radius:25px;
  padding:15px;
  height:fit-content;
} 

.detailedWeatherView{
  background:linear-gradient(to bottom right,rgba(255,255,255,0.55),rgba(150,150,150,0.35)) ;
  backdrop-filter: blur(15px);
  box-shadow:0px 5px 5px rgb(70,70,70);
  margin-top:100px;
  height:100vh;
  width:100%;
}
svg{
  position:absolute;
  left:10%;
  top:35%;
  margin:auto;
  padding:25px;
}

@media(max-width:800px)
{
  .weatherCards{
    box-sizing:border-box;
    grid-template-columns: repeat(1,1fr);
    column-gap:20px;
    width:100%;
  }
  .weatherCard{
    margin:40px;
  }
  .addWeatherCard{
    margin:40px;
  }

  svg{
    left:0%;
  }

  .detailedWeatherTooltip{
    left:25%;
    top:15%;
  }
}
